# Define environments in GitLab UI with vars according to the branches for the pipeline
# GCP_PROJECT_ID=node-app
# GCP_REGION={{europe-west3}}
# GCP_SECRETS_NAME=node-app
# GCP_SECRETS_VERSION=latest
# GCP_SA_KEY={{base64 encoded string with SA key to deploy Cloud Run}}
# GCP_CLOUD_RUN_SA_NAME={{name of the service account for Cloud Run}}
# GCP_CLOUD_RUN_ALLOCATED_MEMORY={{allocated memory for Cloud Run}}
# GCP_SQL_INSTANCE_NAME={{name of the SQL instance for Cloud Run}}

stages:
  - build
  - test
  - push
  - deploy

variables:
  # Node image for pipeline runner
  NODEJS_VERSION: "24.12.0"
  # Where to store json secrets from Cloud provider
  SECRETS_PATH: '/config/secrets.json'
  # Port for Cloud Run
  PORT: "3000"
  # Docker image name for Cloud Run
  IMAGE_NAME: $GCP_REGION-docker.pkg.dev/$GCP_PROJECT_ID/$GCP_PROJECT_ID-docker/$CI_PROJECT_NAME:$CI_COMMIT_SHA


include:
  # BUILD APP
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/build@v1.0.0
    inputs:
      job-stage: build
  # BUILD DOCKER IMAGE
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/docker-build@v1.0.0
    inputs:
      job-stage: build
      allowed-branches: "master|stage|development"
      image-tag: $IMAGE_NAME
  # CODE QUALITY
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/codequality@v1.0.0
    inputs:
      job-stage: test
  # CODE STYLE
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/codestyle@v1.0.0
    inputs:
      job-stage: test
  # AUDIT
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/audit@v1.0.0
    inputs:
      job-stage: test
      audit-command: npm audit --production --audit-level=high
  # TEST
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/test@v1.0.0
    inputs:
      job-stage: test
      test-command: DB_CONNECTION_STRING="postgres://node-app_docker:node-app_docker@postgres:5432/postgres" npm run ci-test
      postgres-user: node-app_docker
      postgres-password: node-app_docker
      postgres-db: postgres
  # PUSH DOCKER IMAGE
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/artifact-registry-push@v1.0.0
    inputs:
      job-stage: push
      allowed-branches: "master|stage|development"
      image-name: $IMAGE_NAME
      registry: $GCP_REGION-docker.pkg.dev
  # DEPLOY TO CLOUD RUN
  - component: $CI_SERVER_FQDN/Backend/gitlab-components/cloudrun-deploy@v1.0.0
    inputs:
      job-stage: deploy
      allowed-branches: "master|stage|development"
      deploy-command: >-
        gcloud run deploy $CI_PROJECT_NAME
        --image $IMAGE_NAME
        --project "$GCP_PROJECT_ID"
        --platform managed
        --port $PORT
        --region "$GCP_REGION"
        --allow-unauthenticated
        --memory "$GCP_CLOUD_RUN_ALLOCATED_MEMORY"
        --service-account="$GCP_CLOUD_RUN_SA_NAME"
        --set-secrets=$SECRETS_PATH="$GCP_SECRETS_NAME:$GCP_SECRETS_VERSION"
